[submodule "custom/plugins/zsh-nvm"]
	path = custom/plugins/zsh-nvm
	url = https://github.com/lukechilds/zsh-nvm
[submodule "custom/plugins/zsh-completions"]
	path = custom/plugins/zsh-completions
	url = https://github.com/zsh-users/zsh-completions
[submodule "custom/themes/powerlevel10k"]
	path = custom/themes/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
[submodule "custom/plugins/zsh-autocomplete"]
	path = custom/plugins/zsh-autocomplete
	url = https://github.com/marlonrichert/zsh-autocomplete.git
[submodule "custom/plugins/zsh-autosuggestions"]
	path = custom/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
